%main
  .side-bar
    = render 'side_bar/index'
  .wrapper
    .header
      .header__right
        .header__right__name
          = @group.name
        .header__right__member  
          %li Member :
          - @group.users.each do |user|
            %li.name
              = user.name 
        .header__right__bruebox
          =link_to edit_group_path(@group) do
            %span EDIT
    .contents
      .contents-messages
        = render @messages
      .contents__bottom
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form_icon
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'iii'
            = f.submit 'Send', class: 'form__submit' 