%main
  .side-bar
    = render 'side_bar/index'
  .wrapper
    .header
      .header__right
        .header__right__name
          gg
        .header__right__member  
          %li Member :
          %li.name ユーザーネーム
        .header__right__bruebox
          =link_to "Edit", edit_group_path(@group)
    .contents 
      = render @messages
    .contents__right__bottom
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form_icon
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'