.header
  .header__left
    .header__left__name 
      = current_user.name
    .header__left__icon
      %li
      = link_to new_group_path do
        =fa_icon"edit", class: 'icon2'
      %li
      = link_to edit_user_path(current_user) do
        =fa_icon'cog', class: 'icon'
.contents
  .contents__left
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) ,class: "link" do
        .contents__left__box
          .name
            = group.name
          .text
            = group.show_last_message